*{
    text-align: center;
    box-sizing: border-box;
    margin: 0%;
    background-color: grey;
}
h1{
    font-weight: bolder;
}
.welcome-text{
    color: white;
    font-size: 20px;
}
.d-grid a:hover{
    cursor: progress;
    box-shadow: 3px 3px white;
}
