*{
    text-align: center;
    box-sizing: border-box;
    margin: 0%;
    background-color: coral;
    align-items: center;
}
header{
    background-color: coral;
}
.opening-header{
    border: solid 1px white;
    border-radius: 10px;
    padding: 20px;
    color: white;
}
.opening-header h1{
    font-weight: bold;
    font-size: 5vw;
}
.small{
    font-size: larger;
}
.welcome-text{
    color: white;
    font-size: 30px;
    padding: 5vw;
}
button{
    padding: 15px;
    color: white;
    background-color: green;
    border-radius: 10px 0px;
}
button:hover{
    cursor: progress;
    box-shadow: 3px 3px red;
    color: black;
}
